body {
      font-family: 'Oswald', sans-serif;
}

h1 {
      font-size: 50px;
}

h2 {
      font-size: 20px;
}

.hire-button-1 {
      text-decoration: none;
      background-color: orange;
      padding: 10px 40px;
      color: aliceblue;
      font: size 700px;
      border-radius: 8px;



}

.hire-button-2 {
      text-decoration: none;
      background-color: orange;
      padding: 10px 40px;
      color: aliceblue;
      font: size 700px;
      border-radius: 8px;
}

.banner-set-1 {
      background-image: url(images/donation10.jpg);
      background-repeat: no-repeat;
      background-position: center;
}

.text-set-1 {
      text-align: center;
}

.text-set-2 {
      text-align: center;
}

.text-set-3 {
      text-align: center;
}

.text-set-4 {
      text-align: center;
}

.banner-set-2 {
      background-color: cornflowerblue;
      background-repeat: no-repeat;


}

.underline {
      text-decoration-line: underline;
      text-align: center;
}

.aqua-color {
      color: aqua;
}

.white-color {
      color: white;
}

.footer {
      text-align: center;
      background-color: black;
}

.set-1 {
      width: 30%;
      padding-left: 2%;
      box-shadow: 5px 5px 5px 5px gray;
}

.set-2 {
      width: 30%;
      padding-left: 2%;
      box-shadow: 5px 5px 5px 5px gray;
}

.set-3 {
      width: 30%;
      padding-left: 2%;
      box-shadow: 5px 5px 5px 5px gray;
}

.set {}

.hire-button-3 {
      text-decoration: none;
      background-color: orange;
      padding: 10px 40px;
      color: aliceblue;
      font: size 700px;
      border-radius: 8px;
}

#banner-set-2 {
      background-color: royalblue;
      padding-inline: 100px;
      height: 80px;
      weight: 80px;
}

.button-1 {
      text-decoration: none;
      background-color: orange;
      padding: 10px 40px;
      color: aliceblue;
      font: size 700px;
      border-radius: 8px;
}

.button-2 {
      text-decoration: none;
      background-color: orange;
      padding: 10px 40px;
      color: aliceblue;
      font: size 700px;
      border-radius: 8px;
}

.style-1 {
      display: flex;
}

.smart-1 {
      width: 50%;
      padding-left: 5%;
}

.smart-2 {
      width: 80%;
      padding-left: 5%;

}

.style-2 {
      display: flex;
}

.smart-3 {
      width: 50%;
      padding-left: 5%;
}

.smart-4 {
      width: 100%;
      padding-left: 5%;
}